html {
  overflow-y: scroll;
}

#root {
  /* font-family: 'Lato', sans-serif; */
	font-family:Verdana, Tahoma, sans-serif;
  color: rgba(255, 255, 255, 0.87);
	min-height: 100vh;
  background-color: #1c1c1c;
}

.stars-container{
	position: relative;
}

.radio-group{
	position: absolute;
	z-index: 1;
	top: 25px;
	left: 55px;
}

input[type="radio"]{
  margin: 0px 43px;
	cursor: pointer;
	opacity: 0;
}

.starsLabel {
	text-align: center;
	cursor: pointer;
	opacity: 0;
	}

.yelp-star-img{
	z-index: 2;
	padding: 10px
}

.result-cards {
	display: flex;
  justify-content: center;
	padding: 25px 10px;
}
