html {
  overflow-y: scroll;
}

#root {
	position: relative;
	min-height: 100vh;
	font-family:Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1c1c1c;
}

#content-wrap {
  padding-bottom: 4rem;
}

.footer {
	position:absolute;
  bottom: 0;
  width: 100%;
	height: 4rem;
  color: rgb(180, 180, 180);
  text-align: center;
	font-size: small;
	text-align: 'center';
}

.stars-container{
	position: relative;
}

.radio-group{
	position: absolute;
	z-index: 1;
	top: 25px;
	left: 55px;
}

input[type="radio"]{
  margin: 0px 43px;
	cursor: pointer;
	opacity: 0;
}

.starsLabel {
	text-align: center;
	cursor: pointer;
	opacity: 0;
	}

.yelp-star-img{
	z-index: 2;
	padding: 10px
}

.result-cards {
	display: flex;
  justify-content: center;
	padding: 25px 10px;
}
